.sidebar {
  background-color: black;
  color: var(--text-clr-primary);
  height: 90vh;
  width: 15vw;
  padding: 0.5em;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.logo {
  display: flex;
  align-items: center;
}

.logo:hover {
  cursor: pointer;
}

.logo-img {
  width: 3rem;
  height: 3rem;
  object-fit: cover;
}

.logo-title {
  font-size: 1.2rem;
  color: var(--text-clr-accent);
}

.sidebar-top {
  height: 35vh;
}

.sidebar-nav {
  line-height: 2;
}

.sidebar-nav {
  padding: 0.5em;
  font-size: 0.8rem;
  font-weight: 500;
  padding-bottom: 1em;
  border-bottom: 1px solid gray;
}

.sidebar-nav-item {
  display: flex;
  align-items: center;
  gap: 1em;
}

.sidebar-nav-item:hover,
.sidebar-nav-item:focus {
  color: var(--text-clr-accent);
  cursor: pointer;
}

.sidebar-nav-item:nth-of-type(3) {
  margin-bottom: 1em;
}

.sidebar-bot {
  position: relative;
  padding-bottom: 2em;
  height: 55vh;
}

.sidebar-playlists {
  margin-top: 1em;
  line-height: 2.5;
  overflow-y: scroll;
  height: 45vh;
  font-size: 0.7rem;
  padding-left: 1em;
}

.sidebar-playlist-item:hover {
  cursor: default;
}

.sidebar-install-app {
  position: absolute;
  bottom: 0;
  display: flex;
  align-items: center;
  gap: 1em;
  font-size: 0.8rem;
  padding-left: 0.5em;
}

.sidebar-install-app:hover,
.sidebar-install-app:focus {
  color: var(--text-clr-accent);
  cursor: pointer;
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-thumb {
  background-color: var(--clr-darker);
}
